{% load static %} <!-- carrega todos arquivos estáticos -->
    <!DOCTYPE html>
    <html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login | StarMaps</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <body>
        <nav class="hud">
                <div class="logo"><img src="../static/img/icon-paginicial.png"></div>
                <div class="ajuda"><h4>Precisa de ajuda?</h4></div>
                <div class="cadastro"><h1>Entrar</h1></div>
        </nav> 
    
        <div class="verde">
            <div class="cadastre">
                <div class="cadase"><h1>Login</h1></div>
                <div class="digitar">
                    <input placeholder="Usuário" type="text">
                    <input placeholder="Senha" type="password">
                    <div><img src="../static/img/olho visivel.png" class="olho"></div>
                </div>
                    <button class="button">Entrar</button>
                <div class="empresa"><h6 class="empresa2">Novo aqui? Cadastra-se</h6></div>
            </div>
        </div>
    </body>
    </html>
